* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: black;
}

#main-page{
    /* border: 1px solid; */
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#main-ele1{
    font-size: 3rem;
}

#main-ele2{
    /* border: 1px solid; */
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items:center ;
    flex-wrap: wrap;

}

.ele{
    border: 2px solid;
}

.ele,.inner-ele{
    height: 80%;
    width: 300px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.ele img{
    width: 35%;
}

.ele:hover{
    background-color: rgb(255, 94, 0);
    transition: all 0.6s ease-in-out;
}

@media only screen and (max-width:500px){
    #main-page{
        height: 70vh;
    }
}